body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container{
    background-color: aqua;
    text-align: center;
    width: 20%;
}
ul{
    text-align: left;
}
